<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Events</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="example">
		<div id="header">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Trang chủ</a>
				</div>

				<div class="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="">Giới thiệu</a></li>
						<li><a href="">Tin tức</a></li>
						<li><a href="">Thương hiệu</a></li>
						<li><a href="">Liên hệ</a></li>
					</ul>
				</div>
			</nav>
		</div>

	</div>
	<div class="container">
		<h1>List Event</h1>
		<div class="table-responsive">
			<form th:action="@{/}" method="GET">
				<input id="txtSearch" type="text" name="keyword">
				<button type="submit">GO</button>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Event Name</th>
						<th>Location</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Description</th>
						<th scope="col" colspan="2" style="text-align: center;">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="data, i: ${events}">
						<td th:text="${i.count}"></td>
						<td th:text="${data.event_name}"></td>
						<td th:text="${data.location}"></td>
						<td th:text="${data.start_date}"></td>
						<td th:text="${data.end_date}"></td>
						<td
							th:text="${#strings.substring(data.description, 0, 10) + '...'}"></td>
						<td><a th:href="@{/formRegister/event(id=${data.id})}"
							class="btn btn-primary btn-lg">Register Now</a></td>
						<td><a th:href="@{/eventdetail/event(id=${data.id})}"
							class="btn btn-primary btn-lg">Detail</a></td>
					</tr>
				</tbody>
			</table>

			<form th:if="${#request.userPrincipal != null}"
				th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
</body>
</html>
